name: Release
on:
  release:
    types:
      - created
jobs:
  publish:
    name: Build & Publish to NPM
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: denoland/setup-deno@9db7f66e8e16b5699a514448ce994936c63f0d54 # v1.1.0
        with:
          deno-version: v1.x
      - name: Retrieve Version
        if: startsWith(github.ref, 'refs/tags/')
        id: get_tag_version
        run: echo "tag_version=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_OUTPUT
      - uses: actions/setup-node@v3
        with:
          node-version: "16.x"
          registry-url: "https://registry.npmjs.org"
      - name: Setup Polkadot
        uses: ./.github/actions/setup-binary
        with:
          binary-name: polkadot
          binary-version: v0.9.37
          binary-github: https://github.com/paritytech/polkadot
      - name: Setup Cumulus
        uses: ./.github/actions/setup-binary
        with:
          binary-name: polkadot-parachain
          binary-version: v0.9.370
          binary-github: https://github.com/paritytech/cumulus
      - name: Setup substrate-contracts-node
        uses: ./.github/actions/setup-substrate-contracts-node
        with:
          version: v0.24.0
      - name: Setup Zombienet
        uses: ./.github/actions/setup-binary
        with:
          binary-name: zombienet-linux-x64
          binary-version: v1.3.30
          binary-github: https://github.com/paritytech/zombienet
      - name: Build NPM Package
        run: deno task dnt ${{steps.get_tag_version.outputs.tag_version}}
      - run: npm pack
        working-directory: "./target/npm"
      - uses: actions/upload-artifact@v3
        with:
          name: package
          path: "./target/npm/*.tgz"
      - uses: octokit/request-action@v2.x
        if: startsWith(github.ref, 'refs/tags/')
        with:
          route: POST /repos/paritytech/npm_publish_automation/actions/workflows/publish.yml/dispatches
          ref: main
          inputs: '${{ format(''{{ "repo": "{0}", "run_id": "{1}" }}'', github.repository, github.run_id) }}'
        env:
          GITHUB_TOKEN: ${{ secrets.NPM_PUBLISH_AUTOMATION_TOKEN }}
